* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
  }
  .header {
    padding-top: 63px;
  }
  .logo_header {
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
  }
  .logo_text {
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4bcaff;
  }
  .logo_wrapper {
    text-decoration: none;
  }
  .navigation-menu {
    width: 1280px;
    height: 69px;
    margin-top: 40px;
    width: 1280px;
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: #35444f;
  }
  .menu_items {
    display: flex;
  }
  
  .item {
    justify-content: center;
    align-items: center;
  }
  .menu__item1 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #ffffff;
    padding-left: 32px;
    padding-right: 33px;
    border-right: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__item2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 37px;
    padding-left: 36px;
    border-right: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__item3 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 36px;
    border-right: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__item4 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 18px;
    padding-left: 40px;
    border-right: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .aside {
    width: 344px;
    padding-right: 53px;
    display: flex;
  }
  .aside__menu {
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
  }
  .aside_item1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
  }
  .aside_item2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
  }
  .aside_item3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
  }
  .aside_item4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
  }
  .aside_item5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
  }
  .aside__items {
    margin-bottom: 52px;
    margin-top: 52px;
    padding-left: 42px;
  }
  .main {
    padding-top: 49px;
  }
  .main_container {
    display: flex;
  }
  .image_wrapper {
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 885px;
    justify-content: center;
    align-items: center;
  }
  .paragraphs {
    padding-top: 37px;
    width: 885px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 398px;
    padding-bottom: 54px;
  }
  .paragraph__1 {
    padding-bottom: 34px;
  }
  .footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
  }
  .footer__menu_list {
    display: inline-flex;
    gap: 20px;
  }
  .item__link__footer {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0c1927;
  }
  .copyright {
    margin-left: 135px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
  }
  .menu__item4:hover{
    background: #222F3A;
  
  }
  .menu__item3:hover{
    background: #222F3A;
  
  }
  .menu__item2:hover{
    background: #222F3A;
  
  }
  .menu__item1:hover{
    background: #222F3A;
  }
